,성명,연령,부서명,입사일자,급여,이메일,본가주소,전화번호,핸드폰,직위,성별,학력,경력,혼인여부,자녀수,외국어
0,이예은,53,IT,2019-12-24,40580000,jeongung39@example.net,강원도 양양군 논현819거리,055-456-6034,031-490-3023,차장,여,석사,3,Y,4,스페인어
1,엄우진,45,영업,2015-12-13,25220000,qgim@example.com,서울특별시 도봉구 서초대184가,031-433-1971,052-209-0228,이사,남,석사,7,N,1,기타
2,장서준,38,IT,2018-05-04,46310000,yryu@example.com,충청남도 광명시 오금길 (경자한리),041-733-6834,043-668-4996,과장,남,대졸,2,Y,3,중국어
3,이채원,50,인사,2016-10-10,32370000,jihungim@example.org,부산광역시 동대문구 가락길 (동현박안면),043-165-4789,052-360-1164,대표이사,여,전문대졸,7,N,3,일본어
4,최승민,27,IT,2016-02-02,27830000,mi@example.com,제주특별자치도 속초시 가락460가 (지원김마을),017-621-1378,061-805-3616,이사,남,석사,12,Y,4,기타
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,신영길,58,연구개발,2024-02-25,41640000,donghyeonhan@example.net,제주특별자치도 과천시 가락거리,051-843-2379,019-004-6710,과장,여,전문대졸,8,N,0,아랍어
996,이경숙,51,영업,2016-02-28,47020000,kjo@example.net,부산광역시 동작구 논현길 (현주이이리),019-901-3362,052-717-4639,이사,남,박사,3,N,5,스페인어
997,허은영,52,IT,2023-04-14,45190000,seojungim@example.org,인천광역시 마포구 가락98길 (춘자이리),032-020-4700,032-679-5650,대표이사,남,석사,18,N,1,독일어
998,남경자,22,IT,2016-08-10,29070000,eunji31@example.net,제주특별자치도 구리시 학동거리 (영미장허면),042-030-8958,051-391-7942,대표이사,여,대졸,14,Y,5,스페인어
999,김미숙,32,마케팅,2015-09-24,23200000,seunghyeoncoe@example.com,경상남도 안산시 오금길,018-229-4638,043-210-0558,대리,여,전문대졸,12,Y,0,기타